body {
    font-family: Arial, sans-serif;
    background-color: #4b7193;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 950px;
}

.weather-app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.weather-search {
    display: flex;
    margin-bottom: 20px;
}

.weather-search input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #210a0a;
    border-radius: 4px 0 0 4px;
}

.weather-search button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fb8804;
    color: rgb(6, 6, 6);
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.weather-display {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-image: url('/istockphoto-962500712-640x640.jpg');
    background-size: cover;
    background-position: center;
}

.current-conditions {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.current-weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-weather img {
    width: 80px;
    height: auto;
    margin-right: 15px;
}

.temperature-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.temperature {
    text-align: left;
}

.temp {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 5px;
}

.feels-like {
    font-size: 1rem;
    color: #373f32;
    margin-bottom: 10px;
}

.weather-description {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 5px;
}

.today-temp {
    font-size: 1rem;
    color: #333;
}

.predicted-weather,
.weather-details {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.predicted-weather h3,
.weather-details h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
    border-bottom: 2px solid #fb8804;
    padding-bottom: 10px;
}
